{% extends "base.html" %}

{% block content %}

<h1 class="neon">Controle Digital</h1>

<p class="subtitle">
Recupere seu foco, sua mente e seu tempo.
</p>

<div class="card">
    <h3>📊 Entenda o problema</h3>
    <p>Saiba o que é dependência digital.</p>
    <a href="/info"><button>Ver mais</button></a>
</div>

<div class="card">
    <h3>🧠 Combata o vício</h3>
    <p>Dicas práticas para mudar seus hábitos.</p>
    <a href="/combater"><button>Ir</button></a>
    
</div>

<h1>Som do Michael Jackson 😎</h1>

<iframe width="110" height="200"
src="https://www.myinstants.com/instant/michael-jackson-hee-hee-40277/embed/"
frameborder="0"
scrolling="no">
</iframe>

<div class="card">
    <h3>🛠️ Ferramentas</h3>
    <p>Timer, desafios e foco.</p>
    <a href="/ferramentas"><button>Acessar</button></a>
</div>

{% endblock %}